main {
    animation: load 1s ease forwards
}

@keyframes load {
    from {opacity: 0}
    to {opacity: 1}
}

hr {
    border-top: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #191a2e;
    font-family: "Roboto Mono", monospace, sans-serif;
    color: white;
}

.nav-links {
    color: rgb(155, 155, 155);
    text-decoration: none;
    margin: 0 60px;
    transition: color 0.2s ease;
    font-weight: 500;
}

.nav-list {
    list-style: none;
    padding: 0;
    text-align: center;
    margin: 50px 0 50px 0;
}

.dropdown {
    width: 160px;
    cursor: pointer;
    position: relative;
    display: inline-block;
    height: 50px;;
}

.dropdown-content {
    opacity: 0;
    display: none;
    position: absolute;
    min-width: 150px;
    z-index: 1;
    background-color: #131424;
    padding: 5px;
    height: 100px;
    border-radius: 5px;
    top: 50px;
    transition: opacity 0.2s ease;
    
}

.dropdown-content a {
    color: white;
    filter: brightness(60%);
    text-decoration: none;
    display: block;
    height: 40%;
    margin: 10px 0 0 0;
    font-weight: 400;
}
.dropdown-content a:hover {
    filter: brightness(100%);
}

.dropdown:hover .dropdown-content {opacity: 1; display: block;}


.nav-element-container {
    display: inline-block;
    font-size: 20px;
}

.nav-links:hover {
    color: white;
}

.separator {
    width: 1px;
    border-color: rgb(155, 155, 155);
    animation: hranimation 1.5s forwards cubic-bezier(0.1, 0.1, 0.3, 0.95);
}

@keyframes hranimation {
    100% {
        width: 1450px;
    }
}
.index-section-container {
    text-align: center;
}
.index-main {
    margin: 120px 0 0 0;
}
.index-title {
    font-size: 62px;
    margin-bottom: 30px;
}
.index-section-container a {
    display: inline-block;
    text-decoration: none;
    color: black;
    font-weight: 500;

}
.index-section-container a div{
    padding: 17px 25px;
    background-color: rgb(199, 196, 0);
    border-radius: 5px;
    transition: background-color 0.2s;
}

.index-section-container a div:hover{
    background-color: rgb(160, 157, 0);
}

.preview-container {
    display: inline-block;
    width: 500px;
    background-color: #131424;
    height: 450px;
    box-shadow: 1px 1px 10px 1px rgb(8, 8, 8);
    cursor: pointer;
    margin: 20px 20px;
    animation: fadeup 1s forwards
}

.preview-container1{animation:fadeup 0.7s forwards}
.preview-container2{animation:fadeup 1.3s forwards}
.preview-container3{animation:fadeup 1s forwards}

@keyframes fadeup {
    from { transform:translateY(30px);}
    to { transform: rotateX(0deg);}
}



.index-pages-preview-container {
    text-align: center;
    margin: 100px 0 150px 0;
}

.preview-container h2 {
    margin: 40px 0 0 0;
    font-weight: 400;
}

.hover-container {
    display: inline-block;
    transition: transform 0.2s ease;
}

.hover-container:hover {
    transform: scale(1.005);
}



footer ul {
    margin: 0;
}

footer .bottomtxt p {
    text-align: center;
    color: #ffffff79;
    margin: 10px 0 50px 0;
    font-weight: 300;
    font-size: 12px;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer .icons li {
    display: inline-block;
    padding: 0 10px 0 10px;
    filter: brightness(50%);
}

footer .icons {
    margin: 50px auto 0 auto;
    text-align: center;

}

footer .icons img:hover {
    cursor: pointer;

}

.index-tile-link {
    color: white;
}

img.logo {
    filter: brightness(50%);
    width: 50px;
    position: absolute;
    left: 50px;
    top: -10px;
    transition: filter 0.2s ease;
    cursor: pointer;
}

img.logo:hover {
    filter: brightness(100%);
}

#teacherEmail {display: none;}

.sorting-container {
    width: 1200px;
    display: inline-block;
    padding: 30px 0;
    text-align: center;
}
.cards-container {
    width: 300px;
    display: inline-block;
}

#bar-container {
    height: 600px;
    background-color: #131424;
    padding: 30px 0px 0px;
    border-radius: 25px;
    font-size: 0; /* Removes whitespace between bars */
    display: flex;
    justify-content: center;
    align-items: flex-end;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.164);
}


.options-container {
    text-align: center;
    display: inline-block;
    margin: 0;
    background-color: #131424;
    width: 1200px;
    padding: 20px 0;
    border-radius: 25px;
    height: 100px;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.164);
}

.bar {
    background: linear-gradient(#36d1dc, #5b86e5);
    display: inline-block;
    transition: transform 0.1s ease;
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.164);
}

.bar:hover {
    transform: translateY(-10px);
    filter: brightness(80%)
}

input[type='range'] {
    vertical-align: bottom;
}

.pathfinding-grid-input-container {
    text-align: center;
    margin-top: 30px
}

.pathfinding-grid-graph-container {
    width: 75%;
    height: 700px;
    display: inline-block;
    margin: 30px 0;
    position: relative;
    pointer-events: none;
}



.pathfinding-grid-main {
    text-align: center;
}

.row {
    display: block;
    width: 100%;
    height: 5.26%;
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

.vertex {
    box-sizing: border-box;
    width: 2.5%;
    border: 2px #191a2e solid;
    display: inline-block;
    height: 100%;
    transition: background-color ease 0.1s, transform ease-out 0.2s, filter ease 0.2s;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


.vertex:hover {
    transform: scale(1.2);
    filter: brightness(85%)
}

.normal {
    background-color: #131424;
}
.wall {
    background-color: #00a8f3;
}

html,body {
    overflow:auto;
    height: 100%;
}

header {position:relative}

#wrapper {
    overflow-x: hidden;
    overflow-y: scroll!important;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
    opacity: 0.7;
    z-index: 5;
    display: none;
}

#info-container {
    display: none;
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    width: 900px;
    height: 600px;
    background-color: whitesmoke;
    border-radius: 15px;
    z-index: 6;
    top: 20vh
}

#info-exit {
    position:absolute;
    right: 15px;
    top: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    background-image: url("images/exit.png");
    background-position: center;
    background-size: 40px;
    background-repeat: no-repeat;
}

.start {
    background-image: url(images/start.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #131424;

}

.end {
    background-image: url(images/end.png);
    background-size: 80%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #131424;

}

.account-container {
    text-align: center;
    display: inline-block;
    width: 700px;
    border-radius: 30px;
    box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.3);
    margin: 50px 0;
    padding-bottom: 30px;
    animation: pulse 5s infinite ease-in-out;
}

@keyframes pulse {
    0% {box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.300);}
    50% {box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.5);}
    100% {box-shadow: 0px 0px 40px 1px rgba(0, 0, 0, 0.300);}
}


.account-container h1 {
    font-size: 45px;
    margin: 100px 0 10px 0 ;
}

.account-main {
    text-align: center;
}

.account-container #email {
    display: block;
    width: 450px;
    margin: auto;

}

.account-container input {
    width: 200px;
    height: 35px;
    margin: 20px 10px;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 300;
    background-color: #131424;
    color: whitesmoke;
    font-family: 'Roboto Mono', monospace;
    transition: background-color ease 0.5s;
}

.account-container input:hover {
    filter: brightness(0.85);
}

.account-container input:focus {
    filter: brightness(0.85);
}

.password-container input {
    padding-right: 45px;
    width: 170px;
}

.showPasswordButton {
    display: none;
    position: absolute;
    height: 50px;
    width: 40px;
    background-image: url("images/view-password.png");
    background-position: center;
    background-size: 20px;
    background-repeat: no-repeat;
    top: 0;
    bottom: 0;
    margin: auto 0;
    right: 10px;
    cursor: pointer;
    z-index: 5;
}

.account-form {
    margin-top: 50px;
}

.account-redirect-link {
    color:#00a8f3;
    text-decoration: none;
    font-weight: 300;
}

.account-redirect-link:hover {
    border-bottom: solid #00a8f3 1px;
}

.password-container {
    position: relative;
    display: inline-block;
}

.radio-container input {
    width: 15px;
    height: 15px;
    background-color: white;
    display: inline-block;
    margin: 0;
    accent-color: #00a8f3;
}

.radio-container label{
    margin-right: 10px;
}

.account-container input[type="submit"] {
    background-color: #00a8f3;
    height: 50px;
    width: 150px;
    box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.151);
    margin-top: 50px;
    transition: ease 0.2s background-color;
}

.account-container input[type="submit"]:hover {
    cursor: pointer;
    background-color: #008bcc;
}

input[name="teacherEmail"] {
    width: 220px
}

.login-form input:not(#submit){
    width: 280px !important;
    padding-right: 40px;
}

input[value="Login"] {
    display: block;
    margin: 0 auto 20px;

}

.error {
    text-align: center;
    color: red;
    font-weight: bolder;
    margin-top: 10px;
    animation: errorFade 3s ease forwards

}

@keyframes errorFade {
    0% {opacity: 1}
    90% {opacity: 1}
    100% {opacity: 0; cursor: default; pointer-events: none;}
}

.account-button {
    filter: brightness(50%);
    width: 70px;
    height: 70px;
    border-radius: 50px;
    position: absolute;
    right: 50px;
    top: -10px;
    cursor: pointer;
    color: white;
    background-image: url("images/account.png");
    background-position: center;
    background-size: 70px;
    background-repeat: no-repeat;
}

.account-button:hover {
    filter: brightness(100%);
    transition: filter 0.2s ease;
}

.account-details-main {
    text-align: center;
}

.account-details {
    width: 700px;
    margin: 100px auto 100px;
    background-color: #131424;
    height: 600px;
    border-radius: 25px;
    padding: 30px 20px;
    animation: pulse 5s infinite ease-in-out;

}

.account-details h1 {
    font-size: 52px;
    margin-bottom: 0;
    margin-top: 0;
}

.account-details h2 {
    margin-top: 5px;
    font-weight: 300;
    font-size: 20px;
    color: grey
}

.account-details hr{
    border-top: none;
    border-color: grey;
    width: 90%;
}

.details-list {
    list-style: none;
    padding: 0;
    margin: 0;
    color: grey;
    font-weight: 200;
}

.details-list-container {
    display: inline-block;
    text-align: left;
    width: 300px;
    
}

.details-list li {
    margin: 30px 0;
    font-size: 20px;
}

.details-list1 {
    font-weight: 400;
    
}

.details-image {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-image: url('images/account.png');
    background-position: center;
    background-size: 100px;
    background-repeat: no-repeat;
    filter: brightness(50%)
}

.success {
    color: rgba(0, 184, 0, 0.658);
}

.linked-container {
    width: 1100px;
    display: block;
    margin: 0 auto 100px;

}

.linked-container h1 {
    font-size: 42px;
    margin-top: 50px;
}

.linked-container hr {
    border-bottom: 1px solid grey;
}

.linked-row ul{
    list-style: none;

}

.linked-row li {
    display: inline-block;
    width: 250px;
}

.linked-row {
    text-align: left;
    font-weight: 300;
}

.linked-row-student {
    padding: 10px 0;
    background-color: #131424;
    margin: 20px 0;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 300;
    color: grey;
    transition: 0.5s ease transform;
}


.linked-row-student:hover {
    transform: scale(1.01);
}

.media-container {
    width: 500px;
    height: 100px;
    border-radius: 25px;
    background-color: #131424;
    margin: 20px auto 0;
    
}

.sorting-box-shadow {
    box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.164);
}

.sorting-left-container {
    width: 1200px;
    padding-left: 50px;
    display: inline-block;
}

.sorting-main {
    margin: 50px 0;
}

.sorting-right-container {
    background-color: rgba(255, 0, 0, 0.212);
    width: 450px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
    padding: 0 50px;
}